pipeline/pl_execution_processing.json
{
	"name": "pl_execution_processing",
	"properties": {
		"activities": [
			{
				"name": "lk_get_file_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sales_raw_dev",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "raw",
							"directory_name": "/",
							"file_name": "user_input_large_data.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "fe_process_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lk_get_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lk_get_file_list').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "lk_file_check",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_sales_raw_dev",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "raw",
										"directory_name": "/",
										"file_name": "user_input_large_data.csv"
									}
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "lk_file_check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('lk_file_check').output.value),0)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Data flow1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "df_filter_active_records",
												"type": "DataFlowReference",
												"datasetParameters": {
													"srcsalesraw": {
														"container_name": "raw",
														"directory_name": "/",
														"file_name": "user_input_large_data.csv"
													},
													"snksalesprocessed": {
														"container_name": "raw",
														"directory_name": "processed",
														"file_name": "sales_processed.csv"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sales_raw_dev",
												"type": "DatasetReference",
												"parameters": {
													"container_name": "raw",
													"directory_name": "/",
													"file_name": "user_input_large_data.csv"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_sales_processed_dev",
												"type": "DatasetReference",
												"parameters": {
													"container_name": "raw",
													"directory_name": "processed",
													"file_name": "sales_processed.csv"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-29T06:52:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}