adf-dev-project017/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-project017"
		},
		"ls_airflow_http_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_airflow_http'"
		},
		"ls_aws_s3_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'ls_aws_s3'"
		},
		"ls_blob_dev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_dev'"
		},
		"ls_postgres_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_postgres'"
		},
		"ls_airflow_http_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://naval-intrinsic-archie.ngrok-free.dev"
		},
		"ls_airflow_http_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "airflow"
		},
		"ls_aws_s3_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAQW3CPVFNAJBNBHAD"
		},
		"ls_postgres_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "airflow-postgres"
		},
		"ls_postgres_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "airflow"
		},
		"ls_postgres_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_add_load_timestamp_scd')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_scd_load_tracking",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_scd_customer_history",
								"type": "DataFlowReference",
								"parameters": {
									"directory_name": "$directory_name",
									"container_name": "$container_name",
									"file_name": "$file_name"
								},
								"datasetParameters": {
									"srcnewdata": {
										"container_name": "raw",
										"directory_name": "/",
										"file_name": "user_input_large_data.csv"
									},
									"srcexistingdata": {
										"container_name": "raw",
										"directory_name": "processed",
										"file_name": "sales_processed.csv"
									},
									"sinkprocessed": {
										"container_name": "raw",
										"directory_name": "processed",
										"file_name": "sales_processed.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-26T12:23:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_scd_customer_history')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_control_decision')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lk_check_processed",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "/",
									"file_name": "user_input_large_data.csv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "flt_processed_exists",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "lk_check_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lk_check_processed').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(length(item()),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sv_set_first_run",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "flt_processed_exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "isFirstRun",
							"value": "Dynamic content @equals(length(activity('flt_processed_exists').output.value),0)\n"
						}
					},
					{
						"name": "if_first_run_check",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "sv_set_first_run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('isFirstRun')\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ep_execution_pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_filter_active_records",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ep_initial_load",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_copy_raw_to_processed",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"isFirstRun": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-29T06:19:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/pipelines/pl_filter_active_records')]",
				"[concat(variables('factoryId'), '/pipelines/pl_copy_raw_to_processed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_raw_to_processed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_copy_raw_to_processed",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "/",
									"file_name": "user_input_large_data.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "processed",
									"file_name": "sales_processed.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-26T11:39:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_execution_processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lk_get_file_list",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "/",
									"file_name": "user_input_large_data.csv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "fe_process_files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lk_get_file_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lk_get_file_list').output.value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "lk_file_check",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "ds_sales_raw_dev",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "raw",
												"directory_name": "/",
												"file_name": "user_input_large_data.csv"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "lk_file_check",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(length(activity('lk_file_check').output.value),0)\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Data flow1",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_filter_active_records",
														"type": "DataFlowReference",
														"parameters": {
															"container_name": {
																"value": "'@{activity('lk_file_check').output}'",
																"type": "Expression"
															},
															"directory_name": {
																"value": "'@{activity('lk_get_file_list').output}'",
																"type": "Expression"
															},
															"file_name": {
																"value": "'@{activity('lk_get_file_list').output.value}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"srcsalesraw": {
																"container_name": "raw",
																"directory_name": "/",
																"file_name": "user_input_large_data.csv"
															},
															"snksalesprocessed": {
																"container_name": "raw",
																"directory_name": "processed",
																"file_name": "sales_processed.csv"
															}
														}
													},
													"staging": {},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sales_raw_dev",
														"type": "DatasetReference",
														"parameters": {
															"container_name": "raw",
															"directory_name": "/",
															"file_name": "user_input_large_data.csv"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sales_processed_dev",
														"type": "DatasetReference",
														"parameters": {
															"container_name": "raw",
															"directory_name": "processed",
															"file_name": "sales_processed.csv"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-29T06:52:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/dataflows/df_filter_active_records')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_filter_active_records')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_filter_active_records",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_filter_active_records",
								"type": "DataFlowReference",
								"parameters": {
									"container_name": {
										"value": "'@{pipeline().parameters.container_name}'",
										"type": "Expression"
									},
									"directory_name": {
										"value": "'@{pipeline().parameters.directory_name}'",
										"type": "Expression"
									},
									"file_name": {
										"value": "'@{pipeline().parameters.file_name}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"srcsalesraw": {
										"container_name": "raw",
										"directory_name": "/",
										"file_name": "user_input_large_data.csv"
									},
									"snksalesprocessed": {
										"container_name": "raw",
										"directory_name": "processed",
										"file_name": "sales_processed.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"directory_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-26T07:32:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_filter_active_records')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sample_dev_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "/",
									"file_name": "user_input_large_data.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference",
								"parameters": {
									"container_name": "raw",
									"directory_name": "processed",
									"file_name": "sales_processed.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_processed_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"directory_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "purchase_amount",
						"type": "String"
					},
					{
						"name": "purchase_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_raw_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"directory_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "purchase_amount",
						"type": "String"
					},
					{
						"name": "purchase_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_airflow_http')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_airflow_http_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('ls_airflow_http_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_airflow_http_password')]"
					}
				},
				"connectVia": {
					"referenceName": "autoresolve",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/autoresolve')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_aws_s3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('ls_aws_s3_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('ls_aws_s3_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_dev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_postgres')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('ls_postgres_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('ls_postgres_properties_typeProperties_database')]",
					"username": "[parameters('ls_postgres_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_postgres_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/autoresolve')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_filter_active_records')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference"
							},
							"name": "srcsalesraw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference"
							},
							"name": "snksalesprocessed"
						}
					],
					"transformations": [
						{
							"name": "fltactiverecords"
						}
					],
					"scriptLines": [
						"parameters{",
						"     container_name as string,",
						"     directory_name as string,",
						"     file_name as string",
						"}",
						"source(output(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcsalesraw",
						"srcsalesraw filter(city == 'Pune') ~> fltactiverecords",
						"fltactiverecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     partitionFileNames:['user_input_large_data.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> snksalesprocessed"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_scd_customer_history')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference"
							},
							"name": "srcnewdata"
						},
						{
							"dataset": {
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference"
							},
							"name": "srcexistingdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference"
							},
							"name": "sinkprocessed",
							"rejectedDataLinkedService": {
								"referenceName": "ls_blob_dev",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "drvnewdefaults"
						},
						{
							"name": "join1"
						},
						{
							"name": "drvchangedetection"
						},
						{
							"name": "split1"
						},
						{
							"name": "select1"
						},
						{
							"name": "drvexpireold"
						},
						{
							"name": "drvnewversion"
						},
						{
							"name": "drvexpireold1"
						},
						{
							"name": "unionallrecords"
						}
					],
					"scriptLines": [
						"parameters{",
						"     directory_name as string,",
						"     container_name as string,",
						"     file_name as string",
						"}",
						"source(output(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcnewdata",
						"source(output(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcexistingdata",
						"drvexpireold derive(load_timestamp = currentTimestamp(),",
						"          start_dat = currentTimestamp(),",
						"          end_date = toTimestamp('9999-12-31'),",
						"          is_current = 'Y') ~> drvnewdefaults",
						"srcnewdata, srcexistingdata join(srcnewdata@customer_id == srcexistingdata@customer_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"select1 derive(is_changed = iif(     isNull(customer_id_old)     ||     customer_name_new != customer_name_old     ||     age_new != age_old     ||     city_new != city_old     ||     purchase_amount_new != purchase_amount_old,     'Y',     'N' )) ~> drvchangedetection",
						"drvchangedetection split(toString(is_changed) == 'Y',",
						"     toString(is_changed) == 'N',",
						"     disjoint: false) ~> split1@(NewOrChanged, Unchanged)",
						"join1 select(mapColumn(",
						"          customer_id_new = srcnewdata@customer_id,",
						"          customer_name_new = srcnewdata@customer_name,",
						"          age_new = srcnewdata@age,",
						"          city_new = srcnewdata@city,",
						"          purchase_amount_new = srcnewdata@purchase_amount,",
						"          purchase_date_new = srcnewdata@purchase_date,",
						"          customer_id_old = srcexistingdata@customer_id,",
						"          customer_name_old = srcexistingdata@customer_name,",
						"          age_old = srcexistingdata@age,",
						"          city_old = srcexistingdata@city,",
						"          purchase_amount_old = srcexistingdata@purchase_amount,",
						"          purchase_date_old = srcexistingdata@purchase_date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"drvnewversion derive(is_current = 'N',",
						"          end_date = currentTimestamp()) ~> drvexpireold",
						"drvexpireold1 derive(is_current = 'Y',",
						"          start_date = currentTimestamp(),",
						"          end_date = toTimestamp('9999-12-31')) ~> drvnewversion",
						"split1@NewOrChanged derive(is_current = 'N',",
						"          end_date = currentTimestamp()) ~> drvexpireold1",
						"drvnewversion, drvexpireold1, split1@Unchanged union(byName: true)~> unionallrecords",
						"unionallrecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     partitionFileNames:['sales_processed.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkprocessed"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_raw_dev",
								"type": "DatasetReference"
							},
							"name": "srcsales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sales_processed_dev",
								"type": "DatasetReference"
							},
							"name": "sinkaggregatedsales"
						}
					],
					"transformations": [
						{
							"name": "aggtotalsales"
						},
						{
							"name": "drvcastamount"
						},
						{
							"name": "sltderivedcolumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     container_name as string,",
						"     directory_name as string,",
						"     file_name as string",
						"}",
						"source(output(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcsales",
						"drvcastamount aggregate(groupBy(customer_name,",
						"          customer_id),",
						"     total_purchase_amount = sum(purchase_amount)) ~> aggtotalsales",
						"sltderivedcolumns derive(purchase_amount = toDecimal(purchase_amount)) ~> drvcastamount",
						"srcsales select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          age,",
						"          city,",
						"          purchase_amount,",
						"          purchase_date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sltderivedcolumns",
						"aggtotalsales sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          age as string,",
						"          city as string,",
						"          purchase_amount as string,",
						"          purchase_date as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkaggregatedsales"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_raw_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_processed_dev')]"
			]
		}
	]
}